# Gradle - IMPORTANTE: NO ignorar el wrapper jar
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android
*.apk
*.aab
*.ap_
local.properties
*.keystore
*.jks

# IDE
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Otros
temps/
polarmon/
logs.zip